<h2>Essay 1: Contains 2 Errors</h2>

<p>
    With the advent of the so-called "slow-food" movement, more and more people are rediscovering the joy of preparing food. Many slow-food enthusiasts are even bringing back the forgotten art of bread baking. With a bread machine or without, these individuals are providing their friends and families with delicious, home-baked bread that is healthful and fun to make.
</p>
<p>
    Making a loaf of bread is fun and engaging, but it is also a process that involves careful preparation, lots of patience, and a few spare hours of free time. Before the dough can be kneaded, it first needs to be mixed together. Start with quality ingredients like organic whole wheat flour, yeast, and water. Whole wheat flour will take more time to knead, but the result will be a more flavorful and healthier loaf of bread.
</p>
<p>
    Once you've measured out the ingredients, you're ready to begin. Measure out the
    <span id="1_1" class="correctme" rel="flour">flower</span>and place it in a large steel mixing bowl. Place a small portion of warm water in a dish and sprinkle the yeast powder on top of it. Allow the yeast and water to sit for a while. All of the ingredients, except for the flour, need time to warm up before use. Feel free to store your ingredients in the refrigerator to keep them fresh. After the yeast has warmed up, mix it in to the flour. Stir vigorously to form a gummy paste. Don't let it get
    <span id="1_2" class="correctme" rel="too">too</span>thick or you're going to have a mess on your hands. Add the water in small portions, being careful not to spill it. Make sure all the ingredients are incorporated into the thick dough before you begin to knead it. The dough should be kneaded until it becomes stretchy and smooth. Form the dough into a ball and let it sit until it loses some of
    <span id="1_3" class="correctme" rel="its">its</span>tightness. Once it has rested about ten minutes, cover it with a damp towel to rise. Be sure to set it in a warm location, away from drafts and temperature changes. It's important to have a controlled environment to ensure even rising.
</p>
<p>
    After about an
    <span id="1_4" class="correctme" rel="hour">hour</span>and a half, your dough should
    <span id="1_5" class="correctme" rel="have">have</span>ballooned to at least double its original size. At this point, your bread is ready to bake, but if you want a tastier loaf with big pockets of air in the crumb, let the dough rise a second time. Deflate the dough by pressing down and releasing the air from the dough. Then lift the dough and tuck the edges underneath to form a tight ball. Be careful not to tear the gluten skin that has formed or else the gases will escape and
    <span id="1_6" class="correctme" rel="ensure">assure</span>that your second rise is pointless. Set the deflated, now tight ball of dough covered in the same warm location away from drafts. The second rise time will be shorter, as the yeast microbes will have multiplied several times. After about forty-five minutes, your dough will be ready for shaping.               
</p>
