<h2>Essay 2: Contains 5 Errors</h2>

<p>
    This afternoon in sociology
    <span id="2_1" class="correctme" rel="class">class</span>, we took turns telling stories about times in our lives that were difficult but turned out for the better, something that changed the way we view certain situations. Since I've
    <span id="2_2" class="correctme" rel="led">lead</span>a pretty happy life so far, I had a difficult time
    <span id="2_3" class="correctme" rel="coming">coming</span>up with a story that wasn't about the death of a pet or something like that. Many small events have affected my life and the way I think about it, but not too many
    <span id="2_4" class="correctme" rel="traumatic">tramatic</span>events
    <span id="2_5" class="correctme" rel="came">came</span>to mind.
</p>
<p>
    After hearing a few
    <span id="2_6" class="correctme" rel="people">people</span>talk, I realized
    <span id="2_7" class="correctme" rel="that">that</span>most of the students were sharing moments that I
    <span id="2_8" class="correctme" rel="could">could</span>relate to. Some people told about when their families moved to a new area or when someone lost a job but then found a better one. I suddenly thought I that I did have a story worth telling. It was a simple story - nothing too traumatic but something that certainly changed my life for the better.
</p>
<p>
    I recall my first day riding the school bus. I was starting sixth grade at a new middle school, and my mother had gone back to work, so she couldn't drive me to
    <span id="2_9" class="correctme" rel="school">school</span>anymore. We walked down to the
    <span id="2_10" class="correctme" rel="bus">bus</span>stop together at seven in the morning. The route to the stop was familiar from countless hours of riding bikes, roller-blading, and the like, but that day, it seemed completely foreign to me. The sun hadn't quite risen yet, so it was
    <span id="2_11" class="correctme" rel="barely">barely</span>light out. The trees along the sidewalk seemed like giants looming over my life. I remember thinking that my life would never be as happy as it was before.
</p>
<p>
    When we finally arrived at the bus stop, there was a group of children who all seemed used to taking the bus. They were chatting with one another, too busy to notice the newcomers. We stood a short distance from them, since I didn't know any of them yet. After a few minutes, I could
    <span id="2_12" class="correctme" rel="hear">here</span>the bus approaching a few blocks away. I pretended not to
    <span id="2_13" class="correctme" rel="hear">hear</span>. I just stood there and played with the straps on my book bag, finding myself at a loss for words as the bus pulled up. My mother gave me a hug, wished me a good day, and gently pushed me towards the bus door.
</p>
<p>
    I must
    <span id="2_14" class="correctme" rel="have">of</span>stood at the front of the bus for an unnatural amount of time because the bus driver eventually said something to the affect of "You can't stand up here while I'm driving." So, still terribly fearful of my future, I gradually made my way down the
    <span id="2_15" class="correctme" rel="aisle">isle</span>, looking for an empty seat among all these children who knew each other. I found a seat next to a girl with blonde hair pulled into a ponytail tied in a bright-blue ribbon. That's how I met Amy, the girl would be my closest friend through middle-school, high school, and into college. The two of us would be inseparable for years, all because I sat in the right seat on the bus.
</p>
