%h4 Instructions
%ol
  %li Enter Group 
  %li Enter Participant ID
  %li Run Study
  %li Download Report 
  %li Flush data to prepare for next round

%p.text-muted
  Since Feb 1, 2015 Participant ID, no longer needs to be unique.