%html
  %head
  %body
    .container
      .well
        %h3.text-center
          Trials
        %table.table.table-condensed
          %tr
            %td
              .text-center
                =link_to "Capitation", "a", class: ""
            %td
              .text-center
                =link_to "Capitation + Bonus", "b", class: ""
          %tr
            %td
              .text-center
                =link_to "FFS", "c", class: ""
            %td
              .text-center
                =link_to "FFS + Bonus", "d", class: ""
          %tr
            %td
              .text-center
                =link_to "Salary", "f", class: ""
            %td
              .text-center
  
              

