%html
  %head
  %body
    .container
      .row
        .col-md-6-col-md-offset-4
          .well
            .row
              .col-md-8.col-md-offset-2
                %h1
                  Trials
            .row
              .col-md-8.col-md-offset-2
                =link_to "Capitation", "a"
            .row
              .col-md-8.col-md-offset-2
                =link_to "Capitation + Bonus", "b"
            .row
              .col-md-8.col-md-offset-2
                =link_to "FFS", "c"
            .row
              .col-md-8.col-md-offset-2
                =link_to "FFS + Bonus", "d"
            .row
              .col-md-8.col-md-offset-2
                =link_to "Salary", "f"

              

