-content_for :page_title do
  Please select your assignment structure
.row
  .experiment_selection
    -@experiments.each_slice(3) do |experiments|
      - experiments.each_with_index do |(experiment, description), index|
        .experiment
          .col-md-4
            .panel.panel-default
              .panel-body
                %h4.experiment_title
                  ="Payment Method #{index + 1}"
                %p.lead=description
                %button.select.btn.btn-success{value: "#{experiment.to_s}"}
                  Select
    .options{:style=>"display:none;"}
      %h4#selected_experiment

      -@options.each do |number,option|
        .option
          .col-md-4
            .panel.panel-default
              .panel-body
                %h4
                  ="Option #{number}"
                %p.lead=option
                %button.begin.btn.btn-success{value: "#{number}"}
                  Begin
      .col-md-12
        %button.back.btn.btn-success
          Back


