%html
  %head
  %body
    .container
      .row
        .col-md-4.col-md-offset-4
          %h1
            Trials
        .row
          .col-md-6.col-md-offset-4
        .row
          .col-md-6.col-md-offset-4
            =link_to "Capitation", "a"
        .row
          .col-md-6.col-md-offset-4
            =link_to "Capitation + Bonus", "b"
        .row
          .col-md-6.col-md-offset-4
            =link_to "FFS", "c"
        .row
          .col-md-6.col-md-offset-4
            =link_to "FFS + Bonus", "d"
        .row
          .col-md-6.col-md-offset-4
            =link_to "Salary", "f"

              

