-content_for :page_title do
  Please select your payment structure
.row
  -@experiments.each_slice(3) do |experiments|
    .row
      - experiments.each_with_index do |(experiment, description), index|
        .col-md-4{id: "experiment-#{experiment.to_s}"}
          .panel.panel-default
            .panel-body
              %h4
                ="Payment Method #{index + 1}"
              %p.lead=description
              =link_to "Begin", experiment.to_s, class: "btn btn-success"

