-content_for :page_title do
  #instruction
    =t "initial_instruction"
.row
  .options
    -@options.each do |option|
      .option{id: "option-#{option[:value]}"}
        .col-md-4
          .panel.panel-default
            .panel-body
              %h4.option_title
                =t "option", index: option[:value]
              %p.lead=t "options.#{option[:name]}.title"
              %button.select.btn.btn-success{value: "#{option[:value]}:#{option[:name]}"}
                Select
