-content_for :page_title do
  #instruction
    =t "final_instruction"
.experiments
  %h4#selected_option
  -@experiments_options.each do |experiment|
    .experiment{id: "experiment-#{experiment.to_s}"}
      .col-md-4
        .panel.panel-default
          .panel-body
            %h4.experiment_title
              =t "payment", index: experiment[:id]
            %p.lead=t "options.#{@selected_option_name}.payment_method.#{experiment}"
            %button.begin.btn.btn-success{value: "#{experiment[:name]}"}
              Begin
