<h2>Math Quiz  1: Contains X Errors</h2> 



<p>

1. "A babysitter earns $8 an hour for babysitting 2 children and an additional $3 tip when both children are put to bed on time. If the babysitter gets the children to bed on time, what expression could be used to determine how much the babysitter earned?" <span id="1_1" class="correctme"rel="B">B</span> </p>

<p>

A. 8 +3 x , where x is the number of hours 
</p>
<p>

B. 3 +8 x , where x is the number of hours 

</p>

<p>

C. x(8 + 2) + 3, where x is the number of children 

</p>

<p>

D. 3 + (8 + 2) x , where x is the number of children

</p>





<p>  

2. "If k is divisible by 2, 3, and, 15 which of the following is also divisible by these numbers?" <span id="1_2" class="correctme"rel="D">D</span> </p> 

<p>

A. k+5

</p>

<p>

B. k+15

</p>

<p>

C. k+20

</p>

<p>

D. k+30

</p>






<p>  

3. "In a certain game, a player can solve easy or hard puzzles. A player earns 30 points for solving an easy puzzle and 60 points for solving a hard puzzle. Tina solved a total of 50 puzzles playing this game, earning 1,950 points in all. How many hard puzzles did Tina solve?" <span id="1_3" class="correctme"rel="B">B</span> </p> 

<p>

A. 10

</p>

<p>

B. 15

</p>

<p>

C. 25

</p>

<p>

D. 35

</p>







<p>  

4. "In the xy-plane, if the parabola with equation y = ax<sup>2</sup> +bx+ c , where a, b, and c are constants, passes through the point (−1, 1), which of the following must be true?" <span id="1_4" class="correctme"rel="D">D</span> </p> 

<p>

A. a-b =1

</p>

<p>

B. −b+c =1

</p>

<p>

C. a+b+c=1      

</p>

<p>

D. a-b+c =1

</p>







<p>  

5. "Tyra subscribes to an online gaming service that charges a monthly fee of $5.00 and $0.25 per hour for time spent playing premium games. Which of the following functions gives Tyra’s cost, in dollars, for a month in which she spends x hours playing premium games?" <span id="1_5" class="correctme"rel=“C”>C</span> </p> 

<p>

A.  C(x)= 5.25x     

</p>

<p>

B. C(x)=5x+0.25      

</p>

<p>

C. C(x)=5+0.25x   

</p>

<p>

D. C(x)=5+25x

</p>







<p>  

6. ".  A grocery store sells a brand of juice in individual bottles and in packs of 6 bottles. On a certain day, the store sold a total of 281 bottles of the brand of juice, of which 29 were sold as individual bottles. Which equation shows the number of packs of bottles, p, sold that day?" <span id="1_6" class="correctme"rel=“A”>A</span> </p> 

<p>

A. p = (281−29)/6     

</p>

<p>

B. p =(281+29)/6

</p>

<p>

C. p =(281/6)−29       

</p>

<p>

D. p =(281/6)+29

</p>







<p>  

7. "A rectangle has perimeter P, length A and width w. Which of the following represents A in terms of P and w ?" <span id="1_7" class="correctme"rel="C">C</span> </p> 

<p>

A. A=P-w

</p>

<p>

B. A=(2P-w)/2

</p>

<p>

C. A=(P-2w)/2

</p>

<p>

D. A=2-2Pw

</p>







<p>  

8. "Which ordered pair (x, y) satisfies the system of equations shown below?

2x-y = 6

X+2y = -2" <span id="1_8" class="correctme"rel="C">C</span> </p> 

<p>

A. (−6, 2)      

</p>

<p>

B. (−2, 2)       

</p>

<p>

C. (2, −2)      

</p>

<p>

D. (4,2)

</p>







<p>  

9. "A soda company is filling bottles of soda from a tank that contains 500 gallons of soda. At most, how many 20-ounce bottles can be filled from the tank? (1 gallon = 128 ounces)" <span id="1_9" class="correctme"rel="D">D</span> </p> 

<p>

A. 25

</p>

<p>

B. 78

</p>

<p>

C. 2560

</p>

<p>

D. 3200

</p>






<p>  

10. "A car traveled at an average speed of 80 miles per hour for 3 hours and consumed fuel at a rate of 34 miles per gallon. Approximately how many gallons of fuel did the car use for the entire 3-hour trip?" <span id="1_10" class="correctme"rel="D">D</span> </p> 

<p>

A. 2

</p>

<p>

B. 3

</p>

<p>

C. 6

</p>

<p>

D. 7

</p>






<p>  

11. " What is the slope of the line in the xy-plane that passes through the points ( -5/2, 1) and (-1/2, 4)?" <span id="1_11" class="correctme"rel="D">D</span> </p> 

<p>

A. -1

</p>

<p>

B. -2/3

</p>

<p>

C. 1

</p>

<p>

D. 3/2

</p>







<p>  

12. "A high school basketball team won exactly 65 percent of the games it played during last season. Which of the following could be the total number of games the team played last season?" <span id="1_12" class="correctme"rel="B">B</span> </p> 

<p>

A. 22

</p>

<p>

B. 20

</p>

<p>

C. 18

</p>

<p>

D. 14

</p>







