<h2>Math Quiz  1: Contains X Errors</h2>




<p>


1. “Sofia and Tess will each randomly choose one of the 10 integers from 1 to 10. What is the probability that neither integer chosen will be the square of the other? ” <span id=“1_1” class="correctme" rel=“0.95“>0.95</span> </p>

<p>  

2. “If f is a continuously differentiable real-valued function defined on the open interval (-1, 4) such that f (3) = 5 and f ‘(x) ≥ -1 for all x, what is the greatest possible value of f (0) ? ” <span id=“1_2” class="correctme" rel=“8“>8</span> </p>

<p>

3. “A tree is a connected graph with no cycles. How many nonisomorphic trees with 5 vertices exist? ” <span id=“1_3” class="correctme" rel=“3“>3</span> </p>

<p>

4. “In xyz-space, what are the coordinates of the point on the plane 2x + y + 3z = 3 that is closest to the origin? ” <span id=“1_4” class="correctme" rel=“3/7,3/14,9/14“>3/7,3/14,9/14</span> </p>

<p>

5. “The maximum number of acute angles in a convex 10-gon in the Euclidean plane is ” <span id=“1_5” class="correctme" rel=“3“>3</span> </p>

<p>

6. “How many positive numbers x satisfy the equation cos(97x) = x?” <span id=“1_6” class="correctme" rel=“31“>31</span> </p>

<p>

7. “What is the largest order of an element in the group of permutations of 5 objects? ” <span id=“1_7” class="correctme" rel=“6“>6</span> </p>

<p>

8. “If a real number x is chosen at random in the interval [0, 3] and a real number y is chosen at random in the interval [0, 4], what is the probability that x < y ? ” <span id=“1_8” class="correctme" rel=“5/8“>5/8</span> </p>

<p>

9. “If an object travels at five feet per second, how many feet does it travel in one hour?” <span id=“1_9” class="correctme" rel=“18000“>18000</span> </p>

<p>

10. “What is the average (arithmetic mean) of all the multiples of ten from 10 to 190 inclusive?” <span id=“1_10” class="correctme" rel=“100“>100</span> </p>

<p>

11. “A cubical block of metal weighs 6 pounds. How much will another cube of the same metal weigh if its sides are twice as long?” <span id=“1_11” class="correctme" rel=“48“>48</span> </p>

<p>

12. “In a class of 78 students 41 are taking French, 22 are taking German. Of the students taking French or German, 9 are taking both courses. How many students are not enrolled in either course?” <span id=“1_12” class="correctme" rel=“24“>24</span> </p>

<p>

13. “Helpers are needed to prepare for the fete. Each helper can make either 2 large cakes or 35 small cakes per hour. The kitchen is available for 3 hours and 20 large cakes and 700 small cakes are needed. How many helpers are required?” <span id=“1_13” class="correctme" rel=“10“>10</span> </p>

<p>

14. “Jo's collection contains US, Indian and British stamps. If the ratio of US to Indian stamps is 5 to 2 and the ratio of Indian to British stamps is 5 to 1, what is the ratio of US to British stamps?” <span id=“1_14” class="correctme" rel=“25:2“>25:2</span> </p>

<p>

15. “A circular logo is enlarged to fit the lid of a jar. The new diameter is 50 per cent larger than the original. By what percentage has the area of the logo increased?
” <span id=“1_15” class="correctme" rel=“125“>125</span> </p>

<p>


