<h2>Math Quiz  3: Contains X Errors</h2> 

<p> 

1. "If 10 + x is 5 more than 10, what is the value of 2x? " <span id="3_1" class="correctme"rel="10">10</span> </p> 

<p>  
2. "The result when a number is divided by 2 is equal to the result when that same number is divided by 4. What is that number?" <span id="3_2" class="correctme"rel="0">0</span> </p> 

<p>  
3. "In a certain store, the regular price of a refrigerator is $600. How much money is saved by buying this refrigerator at 20 percent off the regular price rather than buying it on sale at 10 percent off the regular price with an additional discount of 10 percent off the sale price?" <span id="3_3" class="correctme"rel="$6">$6</span> </p> 

<p>  
4. "If the function f is defined by f(x)=3x+4, then 2f(x)+4=" <span id="3_4" class="correctme"rel="6x+12">6x+12</span> </p> 

<p>  
5. "What is the greatest possible area of a triangle with one side of length 7 and another side of length 10?" <span id="3_5" class="correctme"rel="35">35</span> </p> 

<p>  
6. "A total of 120,000 votes were cast for 2 opposing candidates, Garcia and Pérez. If Garcia won by a ratio of 5 to 3, what was the number of votes cast for Pérez?" <span id="3_6" class="correctme"rel="45,000">45,000</span> </p> 

<p>  
7. "If a positive integer n is picked at random from the positive integers less than or equal to 10, what is the probability that 5n + 3 ≤14?" <span id="3_7" class="correctme"rel="1/5">1/5</span> </p> 

<p>  
8. "If j,k, and n are consecutive integers such that 0<j<k<n and the units (ones) digit of the product jn is 9, what is the units digit of k?" <span id="3_8" class="correctme"rel="0">0</span> </p> 

<p>  
9. "The average of t and y is 15, and the average of w and x is 15. What is the average of t, w, x, and y?" <span id="3_9" class="correctme"rel="15">15</span> </p> 

<p>  
10. "On Wednesday Heather ran 3 miles in 30 minutes. If she ran for 45 minutes at this rate on Thursday, how far did Heather run on Thursday?" <span id="3_10" class="correctme"rel="4.5">4.5</span> </p> 

<p>  
11. "If, 2(m)k=6  then mk " <span id="3_11" class="correctme"rel="3">3</span> </p> 

<p>  
12. "If 3 times a number is equal to 3/2 , what is the number?" <span id="3_12" class="correctme"rel="1/2">1/2</span> </p> 

<p>  
13. "Two spheres, one with radius 7 and one with radius 4, are tangent to each other. If P is any point on one sphere and Q is any point on the other sphere, what is the maximum possible length of PQ?" <span id="3_13" class="correctme"rel="22">22</span> </p> 

<p>  
14. "A student was given a piece of rope and told to cut it into two equal pieces, keep one piece, and pass the other piece to the next student. Each student was to repeat this process until every student in the class had exactly one piece of rope. Which of the following could be the fraction of the original rope that one of the students had?" <span id="3_14" class="correctme"rel="1/16">1/16</span> </p> 

<p>  
15. "If x and y are integers, 7<16<y , and x/y = 2/5 , how many possible values are there for x?" <span id="3_15" class="correctme"rel="2">2</span> </p> 


