<h2>Math Quiz  4: Contains X Errors</h2> 

<p> 

1. "If t is a number greater than 1, then t<sup>2</sup> is how much greater than t? " <span id="4_1" class="correctme"rel="t(t-1)">t(t-1)</span> </p> 

<p>  
2. "When 70,000 is written as 7.0 x10<sup>n</sup> what is the value of n?" <span id="4_2" class="correctme"rel="correct response 2">Answer they see 2</span> </p> 

<p>  
3. "A company’s profit, P, in dollars, for producing x machines in one day is given by P= 500x-20x<sup>2</sup> . If the company produces 10 machines in one day, then, according to this formula, what is the profit for that day?" <span id="4_3" class="correctme"rel="$3,000">$3,000</span> </p> 

<p>  
4. "A fruit salad is made from pineapples, pears, and peaches mixed in the ratio of 2 to 3 to 5, respectively, by weight. What fraction of the mixture by weight is pineapple?" <span id="4_4" class="correctme"rel="1/5">1/5</span> </p> 

<p>  
5. "What is the maximum number of rectangular blocks measuring 3 inches by 2 inches by 1 inch that can be packed into a cube-shaped box whose interior measures 6 inches on an edge?" <span id="4_5" class="correctme"rel="36">36</span> </p> 

<p>  
6. "A boat costs x dollars, and this cost is to be shared equally by a group of people. In terms of x, how many dollars less will each person contribute if there are 4 people in the group instead of 3? " <span id="4_6" class="correctme"rel="x/12">x/12</span> </p> 

<p>  
7. "If y= 2x+3 and x&lt;2 which of the following represents all the possible values for y?" <span id="4_7" class="correctme"rel="y&lt;7">y&lt;7</span> </p> 

<p>  
8. "If x + k = 12 and p (x + k) = 36, what is the value of p?" <span id="4_8" class="correctme"rel="3">3</span> </p> 

<p>  
9. "If 13 is added to one-half of a certain number, the result is 37. What is the original number?" <span id="4_9" class="correctme"rel="48">48</span> </p> 

<p>  
10. "If (1/3y) + 9 = 0  then y = " <span id="4_10" class="correctme"rel="-27">-27</span> </p> 

<p>  
11. "Roy planted corn on 1/5 of his land. If he planted 45 acres of corn, how many acres of land does he have?" <span id="4_11" class="correctme"rel="225">225</span> </p> 

<p>  
12. "Let the function f be defined by f(x) = 5x+2a , where a is a constant. If f(10)+f(5)= 55 what is the value of a?" <span id="4_12" class="correctme"rel="5">5</span> </p> 

<p>  
13. "If 4(t+u)+3= 19, then t+u=" <span id="4_13" class="correctme"rel="4">4</span> </p> 

<p>  
14. "If a is an odd integer and b is an even integer, which of the following is an odd integer, 3b, a + 3, 2(a+b), a+ 2b, 2a+b?" <span id="4_14" class="correctme"rel="a+2b">a+2b</span> </p> 

<p>  
15. "If the average (arithmetic mean) of t and t+2 is x and if the average of t and t−2 is y, what is the average of x and y?" <span id="4_15" class="correctme"rel="t">t</span> </p> 

