<h2>Math Quiz  4: Contains X Errors</h2>

<p>
1. (1/2)x – (1/4)y = 10
<p>
</p>
(1/8)x -  (1/8)y = 19
<p>
</p>
Which ordered pair (x, y) satisfies the system of equations above? <span id="4_1" class="correctme"rel="A">B</span> </p>
<p>
A. (-112, -264)
</p>
<p>
B. (64, 88)
</p>
<p>
C. ((232/3), (224/3))
</p>
<p>
D. (288, 536)
</p>
<p>
</p>
<p>
2. If, 2(m)k=6  then mk=? <b> A </b> </p>
<p>
A. 3
</p>
<p>
B. 4
</p>
<p>
C. 5
</p>
<p>
D. 6
</p>
<p>
E. 12
</p>
<p>
</p>
<p>
3. Janice puts a fence around her rectangular garden. The garden has a length that is 9 feet less than 3 times its width. What is the perimeter of Janice’s fence if the area of her garden is 5,670 square feet? <span id="4_3" class="correctme"rel="A">B</span> </p>
<p>
A. 342 feet
</p>
<p>
B. 318 feet
</p>
<p>
C. 300 feet
</p>
<p>
D. 270 feet
</p>
<p>
</p>

4. If 10 + x is 5 more than 10, what is the value of 2x? <span id="4_4" class="correctme"rel="C">C</span> </p>
<p>
A. -5
</p>
<p>
B. 5
</p>
<p>
C. 10
</p>
<p>
D. 25
</p>
<p>
E. 50
</p>
<p>
</p>
<p>
5. The result when a number is divided by 2 is equal to the result when that same number is divided by 4. What is that number? <b> C </b> </p>
<p>
A. -4
</p>
<p>
B. -3
</p>
<p>
C. 0
</p>
<p>
D. 2
</p>
<p>
E. 4
</p>
<p>
</p>
<p>
6. A special lottery is to be held to select the student who will live in the only deluxe room in a dormitory. There are 100 seniors, 150 juniors, and 200 sophomores who applied. Each senior's name is placed in the lottery 3 times; each junior's name, 2 times; and each sophomore's name, 1 time. What is the probability that a senior's name will be chosen? <span id="4_6" class="correctme"rel="D">A</span> </p>
<p>
A. 1/8
</p>
<p>
B. 2/9
</p>
<p>
C. 2/7
</p>
<p>
D. 3/8
</p>
<p>
E. 1/2
</p>
<p>
</p>
<p>
7. The mean number of students per classroom, y, at Central High School can be estimated using the equation y=0.8636x+27.227 where x represents the number of years since 2004 and x is less than or equal to 10. Which of the following statements is the best interpretation of the number 0.8636 in the context of this problem? <b> D </b> </p>
<p>
A. The estimated mean number of students per classroom in 2004
</p>
<p>
B. The estimated mean number of students per classroom in 2014
</p>
<p>
C. The estimated yearly decrease in the mean number of students per classroom
</p>
<p>
D. The estimated yearly increase in the mean number of students per classroom
</p>
<p>
</p>
<p>
8. What is the greatest possible area of a triangle with one side of length 7 and another side of length 10? (A) 17 (B) 34 (C) 35 (D) 70 (E) 140 : <b> C </b> </p>
<p>
A. 17
</p>
<p>
B. 34
</p>
<p>
C. 35
</p>
<p>
D. 70
</p>
<p>
E. 140
</p>
<p>
</p>
<p>
9. Conall had a box of 36 candy bars to sell for a class fundraiser. He sold 10 of the bars on his own, and his mother sold half of the remaining bars to her coworkers. If no other bars were sold, what fraction of Conall’s original 36 bars remained unsold? <span id="4_9" class="correctme"rel="D">D</span> </p>
<p>
A. 5/8
</p>
<p>
B. 11/36
</p>
<p>
C. 1/3
</p>
<p>
D. 13/36
</p>
<p>
E. 7/18
</p>
<p>
</p>
<p>
10. A meter is a measure of length, and 10 decimeters is equal in length to one meter. How many decimeters are equal in length to 12.5 meters? <b> B </b> </p>
<p>
A. 1250
</p>
<p>
B. 125
</p>
<p>
C. 12.5
</p>
<p>
D. 2.5
</p>
<p>
E. 1.25
</p>
<p>
</p>
<p>
11. In a certain store, the regular price of a refrigerator is $600. How much money is saved by buying this refrigerator at 20 percent off the regular price rather than buying it on sale at 10 percent off the regular price with an additional discount of 10 percent off the sale price? <span id="4_11" class="correctme"rel="A">A</span> </p>
<p>
A. $6
</p>
<p>
B. $12
</p>
<p>
C. $24
</p>
<p>
D. $54
</p>
<p>
E. $60
</p>
<p>
</p>
<p>
12. When 70,000 is written as 7.0 x10<sup>n</sup> what is the value of n? <b> D </b> </p>
<p>
A. 1
</p>
<p>
B. 2
</p>
<p>
C. 3
</p>
<p>
D. 4
</p>
<p>
E. 5
</p>
