<h2>Math Quiz  4: Contains X Errors</h2> 

<p> 

1. "If t is a number greater than 1, then t<sup>2</sup> is how much greater than t?" <span id="4_1" class="correctme"rel="D">D</span> </p> 
<p>
A. 1
</p>
<p>
B. 2
</p>
<p>
C. t
</p>
<p>
D. t(t-1)
</p>
<p>
E. (t-1)(t+1)
</p>

<p>  
2. "When 70,000 is written as 7.0 x10<sup>n</sup> what is the value of n?" <span id="4_2" class="correctme"rel="D">D</span> </p> 
<p>
A. 1
</p>
<p>
B. 2
</p>
<p>
C. 3
</p>
<p>
D. 4
</p>
<p>
E. 5
</p>

<p>  
3. "A company’s profit, P, in dollars, for producing x machines in one day is given by P= 500x-20x<sup>2</sup> . If the company produces 10 machines in one day, then, according to this formula, what is the profit for that day?" <span id="4_3" class="correctme"rel="C">C</span> </p> 
<p>
A. $5,000
</p>
<p>
B. $4,000
</p>
<p>
C. $3,000
</p>
<p>
D. $2,000
</p>
<p>
E. $1,000
</p>

<p>  
4. "A fruit salad is made from pineapples, pears, and peaches mixed in the ratio of 2 to 3 to 5, respectively, by weight. What fraction of the mixture by weight is pineapple?" <span id="4_4" class="correctme"rel="A">A</span> </p> 
<p>
A. 1/5
</p>
<p>
B. 3/10
</p>
<p>
C. 2/5
</p>
<p>
D. 1/2
</p>
<p>
E. 2/3
</p>

<p>  

<p>  
5. "A boat costs x dollars, and this cost is to be shared equally by a group of people. In terms of x, how many dollars less will each person contribute if there are 4 people in the group instead of 3? " <span id="4_5" class="correctme"rel="A">A</span> </p> 
<p>
A. x/12
</p>
<p>
B. x/4
</p>
<p>
C. x/3
</p>
<p>
D. 7x/12
</p>
<p>
E. 7x
</p>
  

<p>  
6. "If x+k=12 and p(x + k)=36, what is the value of p?" <span id="4_6" class="correctme"rel="A">A</span> </p> 
<p>
A. 3
</p>
<p>
B. 4
</p>
<p>
C. 6
</p>
<p>
D. 9
</p>
<p>
E. 12
</p>

<p>  
7. "If 13 is added to one-half of a certain number, the result is 37. What is the original number?" <span id="4_7" class="correctme"rel="C">C</span> </p> 
<p>
A. 24
</p>
<p>
B. 40
</p>
<p>
C. 48
</p>
<p>
D. 61
</p>
<p>
E. 80
</p>

<p>  
8. "If (1/3y)+9=0  then y=?" <span id="4_8" class="correctme"rel="A">A</span> </p> 
<p>
A. -27
</p>
<p>
B. -9
</p>
<p>
C. -3
</p>
<p>
D. 3
</p>
<p>
E. 27
</p>

<p>  
9. "Roy planted corn on 1/5 of his land. If he planted 45 acres of corn, how many acres of land does he have?" <span id="4_9" class="correctme"rel="D">D</span></p> 
<p>
A. 90
</p>
<p>
B. 112.5
</p>
<p>
C. 135
</p>
<p>
D. 225
</p>
<p>
E. 337.5
</p>

<p>  
10. "If 4(t+u)+3= 19, then t+u=" <span id="4_10" class="correctme"rel="B">B</span> </p> 
<p>
A. 3
</p>
<p>
B. 4
</p>
<p>
C. 5
</p>
<p>
D. 6
</p>
<p>
E. 7
</p>

<p>  
11. "If a is an odd integer and b is an even integer, which of the following is an odd integer, 3b, a + 3, 2(a+b), a+ 2b, 2a+b?" <span id="4_11" class="correctme"rel="D">D</span> </p> 
<p>
A. 3b
</p>
<p>
B. a+3
</p>
<p>
C. 2(a+b)
</p>
<p>
D. a+2b
</p>
<p>
E. 2a+b
</p>

<p>  
12. "Each of the following is a factor of 80 EXCEPT?" <span id="4_12" class="correctme"rel="C">C</span> </p> 
<p>
A. 5
</p>
<p>
B. 8
</p>
<p>
C. 12
</p>
<p>
D. 16
</p>
<p>
E. 40
</p>
