/ I hope no one ever has to maintain this
.vignette
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading=yield :page_title
          %hr
          =yield