%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title= yield :page_title
    = stylesheet_link_tag("application", :media => "all")
    = stylesheet_link_tag("cover", :media => "all")

  %body
    .vignette

    .cover-container
      .inner.cover
        =yield
