<h2 class="essay_title"> Essay 6: Contains 6 Errors </h2>   

                                                      <p>
                            Few people would argue that violence is becoming more and more <span id="6_1" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"a partEssay 2: Contains 5 Errors</h2>
">apart</span> of our daily lives.  At times, it seems like we cannot get away from it. It's on the news, in our sports, in our games, and sometimes in <span id=Essay 2: Contains 5 Errors</h2>
"6_2Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"ourEssay 2: Contains 5 Errors</h2>
">are</span> own homes.  Many people have said that all this violence is coming from showing our children that violence is okay.  These people have especially attacked violent video games as part of the reason we think children are more violent <span id=Essay 2: Contains 5 Errors</h2>
"6_3Essay 2: Contains 5 Errors</h2>
" class="correctme" rel="than">than</span> they used to be; however, given that children have always been violent and that video games offer children an occupation to keep them busy, it is <span id=Essay 2: Contains 5 Errors</h2>
"6_4Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"fairEssay 2: Contains 5 Errors</h2>
">fare</span> to say that violent video games have not caused an increase in violence in today's society. 
                        </p>
                        <p>
                            Even though we always here people <span id=Essay 2: Contains 5 Errors</h2>
"6_5Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"whiningEssay 2: Contains 5 Errors</h2>
">whining</span> about "kids these days," it is important to remember that children have always been violent in some respects. Dr. Arnold Weissman of the Turner School of <span id=Essay 2: Contains 5 Errors</h2>
"6_6Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"PsychologyEssay 2: Contains 5 Errors</h2>
">Psychology</span> has studied child psychology for many years, and he says that most children, especially boys, will Essay 2: Contains 5 Errors</h2>
"participate in some form of violent activity during <span id=Essay 2: Contains 5 Errors</h2>
"6_8Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"theirEssay 2: Contains 5 Errors</h2>
">their</span> childhoods as a way of exploring power dynamics and their relationships with other beings" (Turner 432).  Lots of times, children will <span id=Essay 2: Contains 5 Errors</h2>
"6_9Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"pretendEssay 2: Contains 5 Errors</h2>
">pretend</span> to be people they see on tv, like boxers, wrestlers, or other action heroes, but that doesn't mean that these people on tv are making the children violent.  Years ago, children would play cowboys and Indians, <span id=Essay 2: Contains 5 Errors</h2>
"6_10Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"whichEssay 2: Contains 5 Errors</h2>
">witch</span> is a violent game based on shooting one another.  Children have been playing with toys that mimic weapons for hundreds of years, always <span id=Essay 2: Contains 5 Errors</h2>
"6_11Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"mimickingEssay 2: Contains 5 Errors</h2>
">mimicking</span> what they see from others. The video games of today fit into that same childhood model of copycatting, but it does not mean that the games themselves are making children violent. 
                        </p>
                        <p>
                            Historically, there have been many societies <span id=Essay 2: Contains 5 Errors</h2>
"6_12Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"whereEssay 2: Contains 5 Errors</h2>
">were</span> violence was necessary for survival. Such societies would raise their children to be warriors.  Some warlike tribes of Native Americans would train their children from <span id=Essay 2: Contains 5 Errors</h2>
"6_13Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel="very">very</span> young ages how to fight and defend <span id=Essay 2: Contains 5 Errors</h2>
"6_14Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"themselvesEssay 2: Contains 5 Errors</h2>
">theirselves</span> against animals and other people. In ancient Greece, the Spartans were a very warlike people whose whole way of life was based on training to be a soldier. Children who were too weak to fight were shunned or even left to die.  These societies <span id=Essay 2: Contains 5 Errors</h2>
"6_15Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"wereEssay 2: Contains 5 Errors</h2>
">were</span> much more violent than ours. We do not train our children to be warriors or killers. We train them to be doctors, lawyers, and businessmen. By the time they are ready to work, most children have forgotten about video games. 
                        </p>
                        <p>
                            Children <span id=Essay 2: Contains 5 Errors</h2>
"6_16Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"knowEssay 2: Contains 5 Errors</h2>
">know</span> that video games are only for entertainment.  They know that there are not very many jobs that need people to be violent. Some kids want to be cops or wrestlers, but eventually, they realize that there are many jobs that are much safer.  Getting <span id=Essay 2: Contains 5 Errors</h2>
"6_17Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"olderEssay 2: Contains 5 Errors</h2>
">older</span> helps people realize that violence is not a good thing, so for most people, the obsession with violent games and tv shows goes away when they grow up. Video games entertain children for a while, but on the whole, they don't do any long <span id=Essay 2: Contains 5 Errors</h2>
"6_18Essay 2: Contains 5 Errors</h2>
" class="correctme quota" rel=Essay 2: Contains 5 Errors</h2>
"termEssay 2: Contains 5 Errors</h2>
">term</span> damage to their behavior.
                  </p>