<h2 class="essay_title">Essay 5: Contains 3 Errors</h2>

<p>
    It was the end of September
    <span id="5_1" class="correctme quota" rel="again">again</span>, and Anna sat on the couch opposite her mother and stepfather, flanked on either side by decorative paper wrappings and gift bags in what had become the yearly ritual that accompanied her birthday. The three of them had just returned from a pleasant dinner at Anna's favorite restaurant, and
    <span id="5_2" class="correctme" rel="now">now</span>it was time for gifts and dessert. By this time, the ritual was less for Anna's enjoyment and more for that of her parents. She couldn't bring herself to suggest another restaurant or tell them she didn't want any gifts that year, so she was once again on the couch. She had forced her face into a delighted expression as she held the gift from
    <span id="5_3" class="correctme" rel="her">her</span>stepfather in her hands. It was the kind of gift you had to make yourself like for the sake of the giver, and as usual, Anna played the grateful daughter role well.
</p>
<p>
    After six years of her mother's second marriage, Anna began to accept that she might never have a completely comfortable relationship with her mother's new husband. Unlike many children who have been in her situation, she really had high expectations for this relationship. She had not dealt with her mother's remarriage the way many of her friends dealt with their parents' new relationships. As uncomfortable as she was, she secretly hoped that this new man would be the father she thought she deserved-the kind of father she saw on television, the kind who held their daughters when they came home from work, attended their recitals, and brought them soup when they were sick. She
    <span id="5_4" class="correctme" rel="thought">though</span>that maybe she and Brent would
    <span id="5_5" class="correctme" rel="agree">agree</span>on what a father-daughter relationship should be like.
</p>
<p>
    It was a glass desk
    <span id="5_6" class="correctme" rel="ornament">ornament</span>with two glass dolphins diving towards each other forming the shape of a heart. Dangling from the dolphins' noses was a string of glass hearts that descended almost to the black plastic base of the object, which rotated and lit up in different colors. It was hideous. Brent must
    <span id="5_7" class="correctme" rel="have">of</span>realized that. And he must
    <span id="5_8" class="correctme" rel="have">of</span>realized that at fourteen-years-old, Anna wasn't too young to see that.
</p>
<p>
    She had become accustomed to receiving such gifts from him, so the gift itself wasn't as much of a disappointment as Brent's impenetrable smugness, which seemed especially thick at this moment. The tackiness of his gifts had always been dwarfed by the insouciance with which they were given. Brent seemed at once overly proud of this corner-store gift and completely uninterested in whether or not she actually liked it, but this was not an unusual attitude for him. He often came off as overly confident when there was no reason for him to be. Sometimes Anna thought he was trying to seem humble but that he didn't quite know how. This year, just
    <span id="5_9" class="correctme quota" rel="like">like</span>last year, she mustered a few grateful words, placed the piece back into the tissue-filled box, and she thought to herself, at least there's pie.
</p>
