<h2 class = "essay_title"> Essay 10: Contains 3 Errors </h2>           

<p>

				Poison ivy will be familiar to anyone who has  done any camping or outdoor activity before.  Most people will get a rash and bumps from touching the leaves, but those people are lucky.  Some people are so allergic to poison ivy that even touching something else that has touched poison ivy can cause a really painful case of swelling and blisters.  Even though this is a commonly known plant, most people don't know much about the plant itself. 
			</p>
			<p>	
				Poison ivy gives off an oil that causes people to break out.  <span id="10_1" class="correctme" rel="It’s>It's</span> the same oil found in poison oak and poison sumac.  Poison ivy and sumac are found all up and down the east coast, and poison oak is found mostly in the western United States.  The oil comes from both the vine and the leaves.  Poison ivy is easy to spot by <span id="10_2" class="correctme" rel="it’s">it’s</span> three leaves.  The leaves themselves even look shiny because of the oils on them.  In the winter time when the leaves are gone, poison ivy can be much harder to spot.  It's still dangerous because the vines give off the oil too.  
				</p>
				<p>
				The oil is actually <span id="10_3" class="correctme" rel="very">very</span> hard to break down and degrade. It can last for a really long time without drying up, which means that things have touched poison ivy oils can still have the oils on them after months and months.  People <span id="10_4" class="correctme" rel="who">who</span> have really bad reactions to poison ivy have to be careful not to touch things that have touched poison ivy.  Even people who are really careful will sometimes get infected because they will be around people who have touched poison ivy recently <span id="10_5" class="correctme" rel="without">without</span> washing.  With many fabrics, the oils will stay on the surface, so people can give other people infections just by touching someone else's clothes.  
				</p>
				<p>
				The oil takes about twenty minutes to get into the skin, so if you know you touched it, you have about twenty minutes to wash yourself.  The oil will come off your skin just with soap and water, but there are special poison ivy soaps that are <span id="10_6" class="correctme" rel="supposed">suppose</span> to be better for removing the oil from your skin.  Once the oils have <span id="10_7" class="correctme" rel="absorbed>absorbed</span> it can take two to four days for a reaction to show up.  Sometimes people will get a few bumps one day, then the next day it will look like the bumps are spreading because it takes a while for the skin to react.  
				</p>
				<p>
				<span id="10_8" class="correctme" rel="People’s">Peoples</span> reactions can be very different depending on the individual person.  Some people aren't allergic at all, but other people have very severe reactions.  The <span id="10_9" class="correctme" rel="worst">worse</span> case reactions involve large, painful blisters, and even being unable to breathe.  Some people will have to go to the hospital if they touch poison ivy, so they have to be very careful about going outside. The oil will last longer than the plant itself will, so touching dead leaves is just as bad as touching the live plant.  Burning the plant doesn't help either.  Breathing in the smoke can actually cause a rash in the lungs, which can cause the person to have trouble breathing.
           </p>
      