-content_for :page_title do
    Experiment

:javascript
    window.path_to_controller = "/#{params[:controller]}";
    window.option = "#{@option}";

-if controller.show_quota_items
    :javascript
        window.__show_quota_items = true;

-if controller.show_other_student_actions
    :javascript
        window.__show_other_student_actions = true;
-else
    :javascript
        window.__show_other_student_actions = false;

.error-modal
    %h4.text-center System Error, Please Wait
    %a.close-modal.btn.btn-danger.btn-block
        Retry

.participant
    %h4.text-center
        Group

    .form-group
        %label.sr-only{:for => "group_id"} Group
        %input#group_id.form-control{:placeholder => "Enter Group", :type => "text"}/
    %br
    %h4.text-center
        Participant ID
    .form-group
        %label.sr-only{:for => "participant_id"} Group
        %input#participant_id.form-control{:placeholder => "Enter Participant ID", :type => "text"}/


    %input{:type=>'button', :value=>'start', :class=> 'btn btn-success btn-block'}
    .error

.instructions
    .h4.text-center
        Instructions
    %br
    .instruction_body
        %p
            Please wait for further instructions.
            %a.btn.btn-lg.btn-block.btn-success.simplemodal-close{href: '#' }
                Start

-# shown prompting us to finish or not, when we click finish
.confirm_quit
    .well
        .h4
            Are you sure you want to continue to next phase?

    %input{:type=> 'button', :value => 'Confirm', :class => 'btn btn-block btn-success quit_button'}
    %input{:type=> 'button', :value => 'Cancel', :class => 'btn btn-block btn-default cancel_button'}
.score_card
    .msg

    .body

    .done
        -#finish viewing score card
        %input{:type=> 'button', :value => 'Done', :class => 'btn btn-block btn-primary done_button'}
-# shown after we are completely finished
.finished
    -# note when this loads, turn off the unload handler
    .h4.text-center
        Thank you for Participating
    .msg

    -# body will contain the scores from russell's stuff
    .body

    .continue
        =link_to "Prepare this computer for the next trial", root_path, class: ""

.other_participants
    -# injected
    .body

    .button
        Done
.container
    .row
        .col-xs-1
            .menu
                .well.well-sm
                    %ul.nav.nav-pills.nav-stacked
                        -@essays.each_with_index do |essay, i|
                            %li

                                %a{:href=> '#', :class=>'essay_link hide', data: {round: essay[:round], essay: essay[:essay]} }
                                    Essay #{essay[:essay]}

                        %li
                            %a{:class=>'quit', :href=> '#'}
                                Finish
        .col-xs-9
            .content
        .col-xs-2
            .col-spacer
                .timer

                .round
