<div class="block">       
  <div class="content">          
    <h2 class="title">Browse Essays</h2>
    <div class="inner">
      <ul class="list">
        <% @essays.each do |essay|%>
        <li><div class="item"> <%=link_to essay, url_for(:controller => (params[:controller]) , :action => :show , :id => essay.to_i) %></div></li>
        <%end%>
      </ul>
    </div>
  </div>
</div>

