%html
    %head
        -# 
        %title
            Experiment
        %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/modal.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/essay_fields.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/quota.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }

        :javascript
            var gaJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cscript src='" + gaJsHost + "ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));

        :erb
            <!-- jquery addons -->
            <script type='text/javascript' src="/javascripts/jquery/simple_modal.js"></script>
            
            <script type='text/javascript' src="/javascripts/ben/phd.js"></script>
            <script type='text/javascript' src="/javascripts/ben/diff.js"></script>
            <script type='text/javascript' src="/javascripts/ben/save_function.js"></script>
            
            <!-- hard code in path to controller -->
            <script>
            window.path_to_controller = "/<%=params[:controller]%>";
            </script>
    
        -if controller.show_quota_items
            :javascript
                window.__show_quota_items = true;

        -if controller.show_other_student_actions
            :javascript
                window.__show_other_student_actions = true;
        -else
            :javascript
                window.__show_other_student_actions = false;
    
    %body
        .participant
            .label
                Group ID
            %input{:type=>'text',:id=>'group_id'}
            .label
                Participant ID
            %input{:type=>'text', :id=>'participant_id'}
            
            %input{:type=>'button', :value=>'start', :class=> 'button'}
            .error
                    
        .instructions
            .label
                Instructions
            
            .instruction_body
                %p
                    Please wait. 
        
        -# shown prompting us to finish or not, when we click finish
        .confirm_quit
            .label
                Are you sure you are done with the experiment?
            %input{:type=> 'button', :value => 'Cancel', :class => 'cancel_button'}
            %input{:type=> 'button', :value => 'Confirm', :class => 'quit_button'}
            
        -# shown after we are completely finished
        .finished
            -# note when this loads, turn off the unload handler
            .label
                Congratulations you are done :-)
            .msg
            
            -# body will contain the scores from russell's stuff
            .body

            .continue
                -# have this link to some setup page for ellie
                %a{:href => '#'}
                    Prepare this computer for the next trial
        
        
        .other_participants
            -# this will get filled in with data from russell
            .body
            
            .button
                Done
        .container
            .menu
                %ul
                    -#%li
                        %a{:href=> '#', :class=>'show_instructions'}
                            Instructions
                    -#%li
                        %a{:href=> '#', :class=>'practice_essay_link'}
                            Practice

                    -@essays.each do |essay|
                        %li
                            %a{:href=> '#', :class=>'essay_link', :rel => "#{essay}" }
                                Essay #{essay}
                
                    %li
                        %a{:class=>'quit', :href=> '#'}
                            Finish
        
            .content
            
            .timer