%html
    %head
        -# 
        %title
            Experiment
        %link{ :href => "/stylesheets/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/modal.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/essay_fields.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
        %link{ :href => "/stylesheets/quota.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }

        :javascript
            var gaJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
            document.write(unescape("%3Cscript src='" + gaJsHost + "ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));

        :erb
            <!-- jquery addons -->
            <script type='text/javascript' src="/javascripts/jquery/simple_modal.js"></script>
            
            <script type='text/javascript' src="/javascripts/ben/phd.js"></script>
            <script type='text/javascript' src="/javascripts/ben/diff.js"></script>
            <script type='text/javascript' src="/javascripts/ben/save_function.js"></script>
            
            <!-- hard code in path to controller -->
            <script>
            window.path_to_controller = "/<%=params[:controller]%>";
            </script>
    
        -if controller.show_quota_items
            :javascript
                window.__show_quota_items = true;

        -if controller.show_other_student_actions
            :javascript
                window.__show_other_student_actions = true;
        -else
            :javascript
                window.__show_other_student_actions = false;
    
    %body
        .participant
            .label
                Group ID
            %input{:type=>'text',:id=>'group_id'}
            .label
                Participant ID
            %input{:type=>'text', :id=>'participant_id'}
            
            %input{:type=>'button', :value=>'start', :class=> 'button'}
            .error
                    
        .instructions
            .label
                Instructions
            
            .instruction_body
                %p
                    Basic Overview:
                    In this experiment you will be asked to proofread 10 short essays.  The number of essays that you proofread and the number of corrections per essay that you complete is up to you.  Your income earned in this experiment will be based on your performance in the task.
                %h3
                    Proofreading Task:
                In a previous session of this experiment we asked participants to proofread short essays for typographical and spelling errors.  They were given 10 essays with 10 errors in each essay.  These participants were initially given $25.00 for completing the proofreading task, but had $0.25 taken away for each error they were not able to correct.
                %p
                For instance:
                %p
                    %li If in Essay 1, the participant corrected 5 out of 10 errors, $0.25*5=$1.25 was taken away from their initial endowment.
                    %li If in Essay 2 the participant corrected 0 out of 10 errors, $0.25*10=$2.50 was taken away from their initial endowment.
                    %li A total of $3.75 was taken away from their initial endowment in this example.
                    %li Note that if the participant was unable to correct any errors, they received $0.00 for the experiment.
                %p
                    Your task in the experiment will be to proofread the essays that the first participants have already edited. The changes that you make to their essays will allow them to earn back a portion of their $25.00 that they lost. For each error that you correctly identify, we will reimburse the participant in the first group $0.15.  However, if you make an incorrect change the participant in the first group will lose $0.05.
                %p
                    The mistakes that the first participants identified will no longer be in the essay and therefore you will not need to correct them.  This task allows each participant from the previous session to obtain proofreading help from one person in this part of the experiment for his or her essays.
                %p
                    The mistakes that the first group missed will still be in the essay.  Your task is to proofread these essays for the errors that the first group missed.  You will be given assistance with your editing task.  For each error in the essay, we have highlighted 3 words, only one of which is the actual error.   The first group was not given this assistance in their proofreading task.
                    For example, if the person who initially proofread the essay missed 3 errors you will see 9 highlighted words, only 3 of which contain actual errors.
                %p
                    In total you will be presented with 10 essays to edit, each from a different participant.  You will have a total of 15 minutes to complete this task.  At the end of the 15-minute period you will no longer be able to proofread essays.
                .Instructions_FFS_Q_Intro_Screen_3
                %h3
                    Proofreading Payment:
                %p
                    You will be paid $0.20 for each of the highlighted words that you attempt to correct within the 15-minute time frame.  The change you make to the highlighted words do not need to be correct in order to earn the $0.20.  In your essay, the potential errors will be highlighted in Yellow and Red.  You will receive a bonus of $1.00 if you attempt to correct at least 6 of the Red highlighted words throughout all 10 essays.
                %p
                    For instance if you make 9 changes to Essays 1 your payment will be calculated as follows:
                %ul
                    %li If you correctly identify 3 of the highlighted errors and incorrectly identify 6 of the highlighted errors:
                    %li You will receive $0.20 for all 9 changes and your total payment for Essay 1 will be $0.20*9=$1.80
                    %li If all 9 of these were to Red highlighted words, you will receive the bonus of $1.00.  This brings your total payment for Essay 1 to $2.80.
                %p The participant whose essay you are editing will receive $0.15 for the 3 correctly identified errors (a total of $0.45) and lose $0.05 for the 6 incorrectly changed words (a total of $0.30), so their total reimbursement payment will be $0.45-$0.30=$0.15.
                Note: Your total payment will be calculated by summing your changes over all 10 essays. Also note, you do not have to correctly change an error to be paid.
                %p Alternative Activity:
                During the proofreading part of this experiment, if you decide that you have completed the task to your satisfaction and would like to browse the internet, you may do so by using the other window provided for you on your desktop.

 
        
        -# shown prompting us to finish or not, when we click finish
        .confirm_quit
            .label
                Are you sure you are done with the experiment?
            %input{:type=> 'button', :value => 'Cancel', :class => 'cancel_button'}
            %input{:type=> 'button', :value => 'Confirm', :class => 'quit_button'}
            
        -# shown after we are completely finished
        .finished
            -# note when this loads, turn off the unload handler
            .label
                Congratulations you are done :-)
            .msg
            
            -# body will contain the scores from russell's stuff
            .body

            .continue
                -# have this link to some setup page for ellie
                %a{:href => '#'}
                    Prepare this computer for the next trial
        
        
        .other_participants
            -# this will get filled in with data from russell
            .body
            
            .button
                Done
        .container
            .menu
                %ul
                    -#%li
                        %a{:href=> '#', :class=>'show_instructions'}
                            Instructions
                    -#%li
                        %a{:href=> '#', :class=>'practice_essay_link'}
                            Practice

                    -@essays.each do |essay|
                        %li
                            %a{:href=> '#', :class=>'essay_link', :rel => "#{essay}" }
                                Essay #{essay}
                
                    %li
                        %a{:class=>'quit', :href=> '#'}
                            Finish
        
            .content
            
            .timer