.span-12.last
  %h3 Here is your scorecard ##{@user.id}
  .scores
    %hr
    %p You answered #{@responses.correct.count} responses correctly and #{@responses.incorrect.count} responses incorrectly
    %hr
    %p For your participation in this study you will receive. 
    %p= number_to_currency(@payment)